html {
	height: 100%;
	scroll-behavior:smooth;
}	

body {
	min-height:100%;
}

.centerthis {
	text-align: center !important;
	position: relative !important;
	width:100%;
	
}

#discribe {
	text-align: center;
	position: relative;
	font-family: "Avenir";
	/*free alternative to Avenir

	font-family: 'Nunito', sans-serif;
	*/
}

#tell {
	text-align: center;
	position: relative;
	font-family: 'Nunito';
	font-size:80%;
}

#BETA {
	text-align: center;
	position: relative;
	font-family: "Avenir";
	/*free alternative to Avenir

	font-family: 'Nunito', sans-serif;
	*/
	font-weight: bolder;
}

.bottompic {
	overflow: hidden;
	background-color: transparent;
	position: fixed;
	bottom:0;
	width:55%;
	left:28%;
}