

@font-face {
    font-family: "Avenir";
    src:url("../OSTEOAI/AvenirLTStd-Medium.otf");
}



@media screen and (max-width:650px) {


#img1 {	

		text-align: center;
		text-align: center;
   margin-left: auto!important;
   margin-right: auto!important;
   width:25%!important;

	}

	#img2 {	

		text-align: center;
		text-align: center;
   margin-left: auto!important;
   margin-right: auto!important;
   width:75%!important;

	}


#BETA {
	text-align: center;
	text-align: center;
margin-left: auto!important;
margin-right: auto!important;
font-size: x-large;

}

#discribe {
	text-align: center;
	text-align: center;
margin-left: auto!important;
margin-right: auto!important;

}

#jumbotron-fluid {
	text-align: center;
		text-align: center;
   margin-left: auto!important;
   margin-right: auto!important;
}

#centerbutt {
	text-align: center;
	text-align: center;
margin-left: auto!important;
margin-right: auto!important;

}
}
@media screen and (min-width:650px) {

    
#img1 {	

    text-align: center;
    text-align: center;
margin-left: auto!important;
width:15%!important;
margin-right: auto!important;

}

#img2 {	

    text-align: center;
    text-align: center;
margin-left: auto!important;
margin-right: auto!important;
width: 75%!important;

}


#BETA {
text-align: center;
text-align: center;
margin-left: auto!important;
margin-right: auto!important;
font-size: x-large;

}

#discribe {
text-align: center;
text-align: center;
margin-left: auto!important;
margin-right: auto!important;

}

#jumbotron-fluid {
	text-align: center;
		text-align: center;
   margin-left: auto!important;
   margin-right: auto!important;
}

#centerbutt {
	text-align: center;
	text-align: center;
margin-left: auto!important;
margin-right: auto!important;
}
}

@media screen and (max-width:600px) {
	#centerbutt {
		float: right;
		display: block;
	}
	.bottompic 
	 {
	  float: right;
	  display: block;
	}
  }
  
  @media screen and (max-width:600px) {
	  #centerbutt {
		position: absolute;
		right:0;
		bottom:0;
	  }
	.bottompic {
	  position: absolute;
	  right:0;
	  bottom:0;
	}
	
  }